@import "./reset.css";
@import "./layout.css";

.page {
  padding:0 15px
}

.content {
  position:relative;
  margin-top:45px;
}

.content .more-btn {
  position:absolute;
  right:0;
  top:2px;
  font-size:13px;
  color:#666;
}
.content .more-btn:after {
  content:'';
  display:inline-block;
  width:4px;
  height:4px;
  margin:5px 0 0 2px;
  border-top:1px solid #666;
  border-right:1px solid #666;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  vertical-align:top;
}

.content_title {
  font-weight:bold;
  font-size:15px;
  padding:0 0 12px
}

.content_title:before {
  content:'';
  position:relative;
  top:2px;
  display:inline-block;
  width:2px;
  height:12px;
  margin-right:4px;
  vertical-align:top;
  background:#69f
}

.content_title > .sub {
  position:relative;
  top:1px;
  margin-left:6px;
  font-weight:normal;
  font-size:12px;
  vertical-align:top;
  color:#666;
}

/* cities */
#cities {
  overflow-y:hidden;
  overflow-x:scroll;
  margin-top:20px;
}

#cities::-webkit-scrollbar {
  display:none
}

#cities-list {
  width:auto;
  white-space:nowrap;
}

#cities-list a {
  overflow:hidden;
  position:relative;
  display:inline-block;
  width:80px;
  height:80px;
  margin-left:10px;
  border-radius:12px;
  color:#000;
  background-size:cover;
}
#cities-list a:first-child {
  margin-left:0;
}

#cities-list .name {
  position:absolute;
  left:10px;
  right:10px;
  top:15px;
  font-weight:bold;
  font-size:15px;
  line-height:1.2;
  color:#fff;
  text-shadow:2px 2px 4px #000;
  word-break:break-all;
  white-space:normal;
}

/* local */
#local .local-box {
  position:relative;
  padding:10px 7px 25px 7px;
  background-color:#f7f7f7;
  border:1px solid #e1e1e1;
}
#local .local-box>a {
  position:absolute;
  right:15px;
  bottom:10px;
  font-size:12px;
  color:#666;
}

#local .local-box>a:before {
  content:'';
  position:relative;
  top:-2px;
  display:inline-block;
  width:6px;
  height:6px;
  margin-right:6px;
  border-left:1px solid #888;
  border-top:1px solid #888;
  transform:rotate(-135deg);
}

#local .local-box>a[data-state="open"]:before {
  top:1px;
  transform:rotate(45deg);
}

#local #local-list {
  max-height:42px;
  overflow:hidden;
}

#local #local-list li {
  display:inline-block;
}

#local #local-list li a {
  display:block;
  font-size:13px;
  padding:4px 8px;
}

/* festival */
#festival-list {
  overflow:hidden;
}

#festival-list li {
  float:left;
  width:48.5%;
  margin-top:16px;
}

#festival-list li:nth-child(odd) {
  margin-right:3%;
}

#festival-list li:nth-child(-n+2) {
  margin-top:0;
}

#festival-list .festival_thumb {
  overflow:hidden;
  height:110px;
}

#festival-list .festival_thumb img {
  width:100%;
  min-height:110px;
}

#festival-list .festival_text {
  font-size:13px;
  word-break:break-all;
}

#festival-list .festival_text.title {
  overflow:hidden;
  margin:6px 0 4px;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height:38px;
  font-size:14px;
  line-height:1.4;
}

#festival-list .festival_text.date {
  font-size:12px;
  color:#999;
}

#stay-list {
  overflow-y:hidden;
  overflow-x:auto;
  white-space:nowrap
}

#stay-list::-webkit-scrollbar {
  display:none
}

#stay-list .stay_item {
  display:inline-block;
  max-width:240px;
  margin-right:20px;
  vertical-align:top;
}

#stay-list .stay_item:last-child {
  margin-right:0;
}

#stay-list .stay_thumb img {
  height:160px;
}

#stay-list .stay_text {
  padding:6px 0 4px;
  word-break:break-all;
  white-space:normal;
}

#stay-list .stay_text.title {
  line-height:1.4;
}

#stay-list .stay_text.address,
#stay-list .stay_text.tel {
  padding:4px 0 2px;
  font-size:13px;
  color:#999
}


/* restaurant */
#restaurant-list {
  overflow:hidden;
}

#restaurant-list li {
  float:left;
  width:48.5%;
  margin-top:16px;
}

#restaurant-list li:nth-child(odd) {
  margin-right:3%;
}

#restaurant-list li:nth-child(-n+2) {
  margin-top:0;
}

#restaurant-list .restaurant_thumb {
  overflow:hidden;
  height:110px;
}

#restaurant-list .restaurant_thumb img {
  width:100%;
  min-height:110px;
}

#restaurant-list .restaurant_text {
  font-size:13px;
  word-break:break-all;
}

#restaurant-list .restaurant_text.title {
  overflow:hidden;
  margin:6px 0 4px;
  font-size:14px;
  line-height:1.4;
}

#restaurant-list .restaurant_text.address {
  font-size:12px;
  color:#999;
}

#course-list {
  overflow-y:hidden;
  overflow-x:auto;
  white-space:nowrap
}

#course-list::-webkit-scrollbar {
  display:none
}

#course-list .course_item {
  display:inline-block;
  max-width:240px;
  margin-right:20px;
  vertical-align:top;
}

#course-list .course_item:last-child {
  margin-right:0;
}

#course-list .course_thumb img {
  height:160px;
}

#course-list .course_text {
  padding:6px 0 4px;
  word-break:break-all;
  white-space:normal;
}

#course-list .course_text.title {
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height:38px;
  font-size:14px;
  line-height:1.4;
}

#course-list .course_text.address,
#course-list .course_text.tel {
  padding:4px 0 2px;
  font-size:13px;
  color:#999
}